.bg-acc{
  background-color: #fcdb79;
}

.accordion-button{
  background-color: #f8cb45;
}

.bg-pag{
 background-color: #FCFBE4;
 height: 100vh;
}

.btn{
  color: black;
  background-color: #FFC107;
  margin: 0 25px 20px;
}
