<div class="container">
  <div class="d-flex justify-content-center">
    <button (click)="allPets()" class="m-2 btn">Animais para adoção</button>
    <button (click)="myPetsPosted()" class="m-2 btn">Minha área</button>
  </div>
  <div *ngIf="isVisible && (allAnimals$ | async) as animals">
    <h3 class="d-flex justify-content-center mt-2 mb-3">
      Animais disponíveis para adoção
    </h3>
    <app-animal-photo-grid [animals]="animals"></app-animal-photo-grid>
  </div>
  <div *ngIf="!isVisible && (myPosts$ | async) as animalsPosted">
    <h3 class="d-flex justify-content-center mt-2 mb-3">
      Animais que você compartilhou
    </h3>
    <a class="d-flex justify-content-center" [routerLink]="['new']"
      >Quero doar</a
    >
    <app-animal-photo-grid [animals]="animalsPosted"></app-animal-photo-grid>
  </div>
</div>
