<header class="sticky-top bg-warning">
  <nav class="navbar navbar-light">
    <a class="navbar-brand title-nav" [routerLink]="['/animals']">MyPet</a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login" >
        <i class="fa fa-user-circle mr-nav fs-txt-nav"></i>
        <a class="mr-nav text-capitalize text-decoration-none text-dark fs-txt-nav">{{ user.name }}</a> |
        <a (click)="logout()" class="btn-logout">Logout</a>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']" class="btn-logout"> Login </a>
    </span>
  </ng-template>
</header>
