.title-nav{
  margin: 0 0 0 16px;
  font-size: 24px;
}

.mr-nav{
  margin-right: 10px;
}

.fs-txt-nav{
  font-size: 18px;
}

.btn-logout{
  cursor: pointer;
  color: black;
  padding: 3px 10px;
  text-decoration: none;
  margin-right: 10px;

}
